//Default colors (doesn't really need to be changed)
$c-gray: #777;
$c-lightest_gray: #f3f3f3;
$c-light_gray: lighten($c-gray, 28%);
$c-dark_gray: #a2a2a2;

$f-headline: $f-sans;
$f-content: $f-serif;
