//////////////////////////////
// Project Specific Variables
//////////////////////////////

// Project Specific breakpoints
$breakpoints: ();

// Merge $fine_breakpoints and $breakpoints to use with bp() mixin
$breakpoints: map-merge($fine-breakpoints, $breakpoints);

//Default colors (doesn't really need to be changed)
$c-gray: #777;
$c-lightest_gray: #f3f3f3;
$c-light_gray: lighten($c-gray, 28%);
$c-dark_gray: #a2a2a2;

$f-headline: $f-sans;
$f-content: $f-serif;


// icon selector loop
$icon-symbols: (
  ico-: '',
); $icons: map-keys($icon-symbols);

@each $icon in $icons {
  .#{$icon} {
    &:before {
      content: '#{map-get($icon-symbols, $icon)}';
      @include icomoon;
    }
  }
}
