h1,
h2,
h3,
h4 {
  font-family: $f-headline;
  font-weight:normal;
  line-height: 1.1;
  margin: 0 0 40px;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
  line-height: 1.2;
}
h3 {
  font-family: $f-content;
  margin-bottom: 5px;
  font-size: 1.375rem;
}
h4 {
  text-transform: uppercase;
  font-family: $f-content;
  margin: 15px 0;
  font-size: 0.875rem;
}
