$em-base: 16px !default;

$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, serif;
$script: Brush Script MT, Trebuchet MS, 'Helvetica Neue', Helvetica, Arial, script;
$monospace: 'Bitstream Vera Sans Mono', Consolas, Monaco, Menlo, 'Andale Mono', monospace;
$international: "Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,STXihei,"华文细黑","MS PGothic", $sans;

$tweakpoints: () !default;

$c-white: #fff;
$c-black: #000;
